
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }
  /* ///put code here||| */
  .bg{
background-color: rgba(255, 144, 14, 0.1);
  }
.text-darck2{
  color:#424242 ;
}
.text-darck3{
  color: #727272;

}
.display{
  display: flex;
}
.btn-pri{
  background-color:#FF900E ;
}
/* //nav style// */
.navbar{
  justify-content: space-between;
margin: 0 auto;
align-items: center;

}
.title{
  font-size: 45px;
  font-weight: bold;
}
.ul{
gap:20px;
}
.item{
  list-style: none;
  font-weight: medium;
  font-size: 18px;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
/* //banner  style  /// */
.banner-conten{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}
.btn{
padding:20px 25px ;
font-weight:600px;
font-size: 20px;
color: white;
border-radius: 10px;
border: none;
}
.banner-img{
  width: 100%;
}
@media screen and (max-width:576px) {
  .navbar ,.ul{
    flex-direction: column;
  }
}
